*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'geologica', sans-serif;
}

.header{
    background-color: #144527;
    margin-top: -1rem;
    box-shadow: 0px 1px 5px 8px rgba(0, 0, 0, 0.3);
}

.logo{
    /* padding: 10px ;*/
    padding-top: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    gap: 15px;
    max-width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: #144527;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #144527;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: #144527;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: #144527;
  }
  
  .signin a:hover {
    text-decoration: underline r#144527;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
    transition: .5s ease-in-out;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: #144527;
  }

.in{
    padding-top: 6rem;
}
  
  .submit {
    border: none;
    outline: none;
    background-color: #144527;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color:rgba(20, 69, 39, 0.8);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

